In [2]:
import re
import pandas as pd

In [31]:
sample_dataframe = pd.DataFrame({"A": ["1","2","3"], "B": ["A","B", "C"], "C": [1,"B",3]}).astype(str)

In [32]:
b= sample_dataframe["A"]

In [33]:
b.str.isnumeric()

0    True
1    True
2    True
Name: A, dtype: bool

In [34]:
pd.to_numeric(b)

0    1
1    2
2    3
Name: A, dtype: int64

In [35]:
for column in sample_dataframe.columns:
    print(sample_dataframe[column].str.isnumeric())

0    True
1    True
2    True
Name: A, dtype: bool
0    False
1    False
2    False
Name: B, dtype: bool
0     True
1    False
2     True
Name: C, dtype: bool

In [39]:
num_mask = sample_dataframe.applymap(str.isnumeric)

In [40]:
num_mask

      A      B      C
0  True  False   True
1  True  False  False
2  True  False   True

In [58]:
import numpy as np

#make me a pandas series with all possible types
temp =pd.Series(["1", "1", "1.11", np.nan, ""]).astype(str)

In [83]:
def extract_letters_from_text(text_series: pd.Series) -> pd.Series:
        letters = text_series.str.replace(r'[^a-zA-Z]', '', regex=True)
        return letters.where(letters.str.strip() != '', np.nan)

def extract_numbers_from_text(text_series: pd.Series) -> pd.Series:
        numbers = text_series.str.extract(r'(\d+\.\d+|\d+)').astype(float)
        return numbers.squeeze().replace(0.0, np.nan)

In [74]:
extract_letters_from_text(temp)

0    NaN
1    NaN
2    NaN
3    nan
4    NaN
dtype: object

In [85]:
temp_df = pd.DataFrame({"A": ["1", "1", "1.11", np.nan, "aasdasdassdas"], "B": ["1", "1", "1.11", np.nan, ""], "C": ["1", "1", "1.11", np.nan, "jhgjhgjhgjhg.47"]}).astype(str)

In [97]:
boolean_mask = temp_df[["A","B"]].apply(extract_letters_from_text).notna()

In [102]:
temp_df[~boolean_mask["A","B"]].apply(extract_numbers_from_text)

KeyError: ('A', 'B')

In [118]:
temp_df = pd.DataFrame({"A": ["1", "1", "1.11", np.nan, "aasdasdassdas"], "B": ["1", "1", "1.11", np.nan, "hgfhgfh"], "C": ["1", "1", "1.11", np.nan, "jhgjhgjhgjhg.47"]})

In [119]:
temp_df.to_numeric()

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

In [120]:
pd.to_numeric(temp_df["A"], errors="coerce")

0    1.00
1    1.00
2    1.11
3     NaN
4     NaN
Name: A, dtype: float64

In [121]:
numeric_mask = temp_df.apply(lambda col: pd.to_numeric(col, errors='coerce').notna())
numeric_mask

       A      B      C
0   True   True   True
1   True   True   True
2   True   True   True
3  False  False  False
4  False  False  False

In [131]:
nums = pd.DataFrame(np.where(numeric_mask, temp_df, np.nan))
strings = pd.DataFrame(np.where(~numeric_mask, temp_df, np.nan))

In [133]:
nums.columns = [f"{col}_num" for col in nums.columns]

In [134]:
nums

  0_num 1_num 2_num
0     1     1     1
1     1     1     1
2  1.11  1.11  1.11
3   NaN   NaN   NaN
4   NaN   NaN   NaN

In [135]:
strings

               0        1                2
0            NaN      NaN              NaN
1            NaN      NaN              NaN
2            NaN      NaN              NaN
3            NaN      NaN              NaN
4  aasdasdassdas  hgfhgfh  jhgjhgjhgjhg.47

In [137]:
pd.concat([nums, strings], axis=1)

  0_num 1_num 2_num              0        1                2
0     1     1     1            NaN      NaN              NaN
1     1     1     1            NaN      NaN              NaN
2  1.11  1.11  1.11            NaN      NaN              NaN
3   NaN   NaN   NaN            NaN      NaN              NaN
4   NaN   NaN   NaN  aasdasdassdas  hgfhgfh  jhgjhgjhgjhg.47

In [139]:
temp_df[~"A"]

TypeError: bad operand type for unary ~: 'str'